.card {
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 16px;
  border-radius: 16px;
}

.description {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray800);
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: var(--gray800);
}

.heart {
  display: flex;
  align-items: end;
  margin-top: 6px;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray600);
}
