.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  border-bottom: 1px solid #dfdfdf;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar {
  display: flex;
  gap: 23px;
  list-style: none;
}

.navbar-list {
  font-weight: 700;
  color: var(--gray600);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.navbar-list:hover {
  color: var(--blue);
}

.login-btn {
  padding: 12px 23px;
  border-radius: 8px;
  background-color: var(--blue);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.login-btn:hover {
  background-color: var(--darkblue);
}
