.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 282px;
  height: 282px;
  gap: 12px;
  border-radius: 12px;
  background-color: var(--gray100);
  cursor: pointer;
}

.text {
  color: var(--gray400);
}
